# üìí Exercise 4.7: Deriving New Variables

**Table of Contents:**
1. Introduction
2. Import Libraries & Data
3. Create 'price_label' Column
4. Create 'busiest_day' Column
5. Update 'busiest_day' to 'busiest_days'
6. Create 'busiest_period_of_day' Column
7. Export Data
8. Reflection

## 1Ô∏è‚É£ Introduction

In this notebook, we derive new variables from the Instacart dataset using `if-statements`, `for-loops`, and the `loc()` method. The goal is to practice creating flags and summary columns that are useful for further analysis.

## 2Ô∏è‚É£ Import Libraries & Data

In [4]:
import pandas as pd
import os

# Set path
path = r'C:\Users\rhysm\OneDrive\Desktop\Career Foundry\Data Immersion\Module 4\04-2025 Instacart Basket Analysis'

# Import dataset
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))

# Confirm import
ords_prods_merge.head()

,Unnamed: 0.1_x,Unnamed: 0_x,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,Unnamed: 0.1_y,Unnamed: 0_y,product_name,aisle_id,department_id,prices,merge_status
0,1,1,2398795,1,2,3,7,15.0,196,1,1,both,195,195,Soda,77,7,9.0,both
1,1,1,2398795,1,2,3,7,15.0,10258,2,0,both,10258,10258,Pistachios,117,19,3.0,both
2,1,1,2398795,1,2,3,7,15.0,12427,3,1,both,12427,12427,Original Beef Jerky,23,19,4.4,both
3,1,1,2398795,1,2,3,7,15.0,13176,4,0,both,13176,13176,Bag of Organic Bananas,24,4,10.3,both
4,1,1,2398795,1,2,3,7,15.0,26088,5,1,both,26089,26089,Aged White Cheddar Popcorn,23,19,4.7,both

## 3Ô∏è‚É£ Create 'price_label' Column

We‚Äôll use the `loc()` method to categorize products into price ranges:

In [6]:
# Create new column 'price_label'
ords_prods_merge.loc[ords_prods_merge['prices'] > 15, 'price_label'] = 'High-range product'
ords_prods_merge.loc[(ords_prods_merge['prices'] <= 15) & (ords_prods_merge['prices'] > 5), 'price_label'] = 'Mid-range product'
ords_prods_merge.loc[ords_prods_merge['prices'] <= 5, 'price_label'] = 'Low-range product'

# Check distribution
ords_prods_merge['price_label'].value_counts(dropna=False)

price_label
Mid-range product     20489445
Low-range product      9476834
High-range product      389849
Name: count, dtype: int64

## 4Ô∏è‚É£ Create 'busiest_day' Column

We‚Äôll add a summary column indicating whether the day of the week is the busiest, slowest, or regularly busy.

In [8]:
# Create 'busiest_day' column
result = []

for value in ords_prods_merge['order_day_of_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

ords_prods_merge['busiest_day'] = result


# Check distribution
ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
Regularly busy    21014279
Busiest day        5784140
Least busy         3557709
Name: count, dtype: int64

## 5Ô∏è‚É£ Update 'busiest_day' to 'busiest_days'

We update to reflect two busiest and two slowest days.

In [10]:
# Update column to identify two busiest and two slowest days
ords_prods_merge.loc[ords_prods_merge['order_day_of_week'].isin([0,1]), 'busiest_days'] = 'Busiest days'
ords_prods_merge.loc[ords_prods_merge['order_day_of_week'].isin([4,3]), 'busiest_days'] = 'Slowest days'
ords_prods_merge.loc[~ords_prods_merge['order_day_of_week'].isin([0,1,3,4]), 'busiest_days'] = 'Regular days'

# Check distribution
ords_prods_merge['busiest_days'].value_counts(dropna=False)

busiest_days
Regular days    12101417
Busiest days    11093110
Slowest days     7161601
Name: count, dtype: int64

## 6Ô∏è‚É£ Create 'busiest_period_of_day' Column

We categorize hours of the day into 'Most orders', 'Average orders', and 'Fewest orders'.

In [12]:
# Create 'busiest_period_of_day' column
ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'].isin(range(10,16)), 'busiest_period_of_day'] = 'Most orders'
ords_prods_merge.loc[ords_prods_merge['order_hour_of_day'].isin(range(6,10)) | ords_prods_merge['order_hour_of_day'].isin(range(16,20)), 'busiest_period_of_day'] = 'Average orders'
ords_prods_merge.loc[ords_prods_merge['busiest_period_of_day'].isnull(), 'busiest_period_of_day'] = 'Fewest orders'

# Check distribution
ords_prods_merge['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
Most orders       15109963
Average orders    12063391
Fewest orders      3182774
Name: count, dtype: int64

## 7Ô∏è‚É£ Export Data

We export the updated dataframe with all new columns added.

In [14]:
# Export the updated dataframe
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_labeled.pkl'))

## 8Ô∏è‚É£ Reflection

‚úÖ In this notebook, I derived multiple new columns using different Python techniques, including `if-statements`, `for-loops`, and the `loc()` method. These flags and summaries help in understanding customer behaviors and order patterns for better business decision-making.